/*
DailyCSS is developed by Ashwani Dubey. 
It is free to use without any attribution.
If you found any bug, feel free to contribute.
*/

*{
	font-family: open sans,sans-serif;
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: white;
}
.warning-box{
	padding: 10px;
    border: 1px solid #acac00;
	background: #e5e890;
	border-radius:5px;
	color: #886f06;
	margin: 5px 0 5px 0;
	font-family: sans-serif;
	font-weight: bold;
}
.danger-box{
	padding: 10px;
    border: 1px solid maroon;
	background: #f7a4a4;
	border-radius:5px;
	color: maroon;
	font-family: sans-serif;
	margin: 5px 0 5px 0;
	font-weight: bold;
}
.success-box{
	padding: 10px;
    border: 1px solid darkgreen;
	background: lightgreen;
	border-radius:5px;
	color: darkgreen;
	font-family: sans-serif;
	margin: 5px 0 5px 0;
	font-weight: bold;
}
.pad{
	padding: 20px;
	background: #d0cccc;
	border-radius:5px;
	color: black;
	font-family: sans-serif;
	margin: 5px 0 5px 0;
	box-shadow: 1px 0px 5px black inset;
	
}

.btn-solid{
	padding: 10px;
	background-color: #0000db;
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	transition: .3s linear all;
}

.btn-transparent{
	padding: 8px;
	background-color: white;
	border: none;
	color: #0000db;
	border-radius: 5px;
	font-size: 15px;
border: 2px solid #0000db;
	cursor: pointer;	
	transition: .1s linear all;
}
.btn-disabled{
		padding: 10px;
	background-color: #8d8dff;
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 15px;
	cursor: no-drop;
}

.btn-transparent:hover{
	color: white;
	background: #0000db;
	transition: .1s linear all;
}
.btn-solid:hover{
	color: white;
	background: #0303a2;
	transition: .1s linear all;
}

.ash-nav-1{
	background: #222222;
	overflow: auto;
	padding: 0px 10px;
}

.ash-nav-1 li a{padding: 10px 20px;
	line-height: 50px;
	color: white;
}
.ash-nav-1 li{
	list-style-type: none;
	float: left;
}

.ash-nav-1 li:hover{background: red;
}

.ash-nav-1 #logo{float: left;
line-height: 50px;}

.ash-nav-1 nav{float: right;}



@media screen and (max-width:480px)
{

	
}
