/*
DailyCSS is developed by Ashwani Dubey. 
It is free to use without any attribution.
If you found any bug, feel free to contribute.
*/

.warning-box{
	padding: 10px;
    border: 1px solid #acac00;
	background: #e5e890;
	border-radius:5px;
	color: #886f06;
	margin: 5px 0 5px 0;
	font-family: sans-serif;
	font-weight: bold;
}
.danger-box{
	padding: 10px;
    border: 1px solid maroon;
	background: #f7a4a4;
	border-radius:5px;
	color: maroon;
	font-family: sans-serif;
	margin: 5px 0 5px 0;
	font-weight: bold;
}
.success-box{
	padding: 10px;
    border: 1px solid darkgreen;
	background: lightgreen;
	border-radius:5px;
	color: darkgreen;
	font-family: sans-serif;
	margin: 5px 0 5px 0;
	font-weight: bold;
}
.pad{
	padding: 20px;
	background: #d0cccc;
	border-radius:5px;
	color: black;
	font-family: sans-serif;
	margin: 5px 0 5px 0;

	box-shadow: 1px 0px 5px black inset;
	
}

.btn-solid{
	padding: 10px;
	background-color: #0000db;
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 15px;
}

.btn-transparent{
	padding: 8px;
	background-color: white;
	border: none;
	color: #0000db;
	border-radius: 5px;
	font-size: 15px;
border: 2px solid #0000db;
}



@media screen and (max-width:480px)
{
	.danger-box,.success-box,.warning-box{
		font-weight: normal;
		font-size: 15px;
	}
	
	
	.btn-solid,.btn-transparent{
		width: 100%;
		margin: 2px 0 2px 0;
	}
	
}
